@using IThubSAT.Data.Models
@using IThubSAT.Data
@inject SurveyService SurveyService

<div class="tool_bar">
  <div class="dropdown_bars">
    <Dropdown Placeholder="Кафедра" />
    <Dropdown Placeholder="Группа/Подгруппа" />
    <Dropdown Placeholder="Дисциплина" />
    <Dropdown Placeholder="Преподаватель" />
  </div>

  <button class="primary_button">Импорт</button>
  <button class="primary_button">Экспорт</button>
</div>

@* TODO: Переписать на дивы *@
<div class="table_wrapper">
  @if (_workload != null) {
    <table class="table is-fullwidth">
      <tr>
        <th>Кафедра</th>
        <th>Курс</th>
        <th>Группа</th>
        <th>Дисциплина</th>
        <th>Преподаватель</th>
        <th>Часы в неделю</th>
        <th>Часы всего</th>
      </tr>
      @if (_workload.Count > 0){
        @foreach (var workloadRow in _workload) {
          <tr>
            <td>@workloadRow.Group.Faculty.Name</td>
            <td>@workloadRow.Group.StudyYear</td>
            <td>@workloadRow.Group.Name</td>
            <td>@workloadRow.Discipline.Name</td>
            <td>@workloadRow.Teacher.FirstName</td>
            <td>@workloadRow.WeeklyHours</td>
            <td>@workloadRow.TotalHours</td>
          </tr>
        }
      }
      else {
        <tr>
          <td>Пока нет вообще никакой нагрузки</td>
        </tr>
      }
    </table>
    <button class="add_workload_row">+</button>
  }
  else {
    
  }
</div>

@code {
  [Parameter] public Survey Survey { get; set; } = null!;
  private List<Workload>? _workload { get; set; }
  protected async override Task OnInitializedAsync()
  {
    _workload = await SurveyService.GetWorkloadBySurveyId(Survey.Id);
    await base.OnInitializedAsync();
  }
}